<div class="row">
    <div class="card-img" style="height: 20rem">
        <img src="{{course.imgUrl}}" class="card-img-top" alt="{{course.imgUrl}}">
        <hr>
        <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text price">{{course.price}}</p>
            <a href="/cart/{{course._id}}" class="btn btn-primary">Купить</a>
        </div>
    </div>
</div>