{{#if courses.length}}
<div class="row" style="display: flex; align-items: center; justify-content: space-between">
    {{#each courses}}
    <div class="card-img" style="width: 18rem;">
        <img src="{{product.imgUrl}}" class="card-img-top" alt="{{product.imgUrl}}">
            <hr>
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text price">{{product.price}}</p>
                    <p class="card-text">{{quantity}}</p>
                    <a href="/order/courses/delete/{{_id}}" class="btn btn-danger">Удалить</a>
                </div>
    </div>
    {{/each}}
        </div>
    {{else}}
        <h1>Курсов пока нету</h1>
    {{/if}}